*{
    margin:0px;
    padding:5px;
    font-family:Arial;
}

#root{
    margin: 2px;
    padding: 2px;
}

p,input, button,textarea{
    margin: 8px;
    padding:10px;
}

button,input{
    padding: 1px 4px;
}